body {
    background:
        radial-gradient(circle at top left,
            rgba(24, 194, 125, .05),
            transparent 35%),

        radial-gradient(circle at bottom right,
            rgba(0, 183, 255, .04),
            transparent 35%),

        var(--color-black);
    color: var(--color-white);
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

/* Login Section */
.login-section {
    width: 100%;
    padding: 50px 24px 70px;
    justify-content: center;
    align-items: center;

}

/* Login Container */
.login-container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 520px;
    gap: 70px;
    align-items: center;
}

/* Login Left */
.login-left {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 760px;
}

/* Left Content */
.left-content {
    width: 100%;
    max-width: 620px;
}

/* Hero Badge */
.hero-badge {
    width: max-content;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0px;
    margin-bottom: 32px;
    font-size: 3.5rem;
    font-weight: 700;
    font-weight: 1000;
}

/* Left Content Heading */
.left-content h1 {
    font-size: 4rem;
    font-weight: 800;
    line-height: 1.08;
    letter-spacing: -2px;
    margin-bottom: 22px;
}

/* Left Content H1 Span */
.left-content h1 span {
    color: var(--green-color);
}

/* Hero Description */
.hero-description {
    max-width: 520px;
    color: var(--text-third);
    font-size: 1.05rem;
    line-height: 1.8;
    margin-bottom: 55px;
}

/* Feature List */
.feature-list {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

/* Feature Item */
.feature-item {
    display: flex;
    align-items: flex-start;
    gap: 18px;
    padding: 18px;
    background: rgba(255, 255, 255, .03);
    border: 1px solid rgba(255, 255, 255, .06);
    border-radius: 18px;
    transition: var(--transition);
}

/* Feature Item Hover */
.feature-item:hover {
    transform: translateY(-3px);
    border-color: rgba(24, 194, 125, .25);
}

/* Feature Icon */
.feature-icon {
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: rgba(24, 194, 125, .12);
    color: var(--green-color);
    flex-shrink: 0;
    font-size: 1.1rem;
}

/* Feature Text */
.feature-text h3 {
    font-size: 1rem;
    margin-bottom: 6px;
    color: var(--color-white);
}

/* Feature Text Paragraph */
.feature-text p {
    color: var(--text-third);
    font-size: .88rem;
    line-height: 1.7;
}

/* Login Right */
.login-right {
    width: 100%;
    max-width: 520px;
    margin-left: auto;
    background: var(--color-panel);
    border: 1px solid var(--border-color);
    border-radius: 30px;
    padding: 42px;
    box-shadow: var(--shadow-lg);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

/* Support Link */
.support-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 6px;
    margin-bottom: 28px;
    font-size: .85rem;
}

/* Supprt Link Span */
.support-link span {
    color: var(--text-third);
}

/* Support Link Box Link */
.support-link a {
    color: var(--green-color);
    text-decoration: none;
    font-weight: 600;
    transition: var(--transition-fast);
}

/* Support Link Box Link Hover Effect */
.support-link a:hover {
    color: var(--button-green-background);
}

/* Login Form Container */
.login-form-container {
    width: 100%;
}

/* Login Heading */
.login-form-container h2 {
    font-size: 2.25rem;
    font-weight: 800;
    margin-bottom: 10px;
    color: var(--color-white);
}

/* Login Form Container Heading */
.login-form-container h2 span {
    color: var(--green-color);
}

/* Login Form Container Paragraph */
.login-form-container>p {
    color: var(--text-third);
    font-size: .92rem;
    line-height: 1.7;
    margin-bottom: 34px;
}

/* Login Form */
.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Input Group */
.input-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Input Group Label */
.input-group label {
    font-size: .88rem;
    font-weight: 600;
    color: var(--color-white);
}

/* Input Box */
.input-box {
    position: relative;
    display: flex;
    align-items: center;
    gap: 14px;
    height: 56px;
    padding: 0 18px;
    background: rgba(255, 255, 255, .03);
    border: 1px solid rgba(255, 255, 255, .08);
    border-radius: 16px;
    transition: var(--transition-fast);
}

/* Input Box Hover */
.input-box:hover {
    border-color: rgba(24, 194, 125, .30);
}

/* Input Box Focus */
.input-box:focus-within {
    border-color: var(--green-color);
    box-shadow:
        0 0 0 4px rgba(24, 194, 125, .10);
}
/* Input Box Icon */
.input-box i {
    color: var(--text-third);
    font-size: 15px;
    transition: var(--transition-fast);
}

/* Input Box Focus */
.input-box:focus-within i {
    color: var(--green-color);
}

/* Input Box Input */
.input-box input {
    flex: 1;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: var(--color-white);
    font-size: .92rem;
    font-family: inherit;
}

/* Input Box Input PlaceHolder */
.input-box input::placeholder {
    color: var(--text-grey);
}

/* Vlid Icon */
.valid-icon {
    opacity: 0;
    color: var(--green-color);
    pointer-events: none;
}

/* Toggle Password */
.toggle-password {
    cursor: pointer;
}

/* Toggle Password Hover */
.toggle-password:hover {
    color: var(--green-color);
}

/* Chrome AutoFill */
.input-box input:-webkit-autofill,
.input-box input:-webkit-autofill:hover,
.input-box input:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--color-white) !important;
    transition: background-color 9999s ease-in-out;
}

/* Login Option */
.login-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -2px;
}

/* Checkbox Group */
.checkbox-group {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: var(--text-third);
    font-size: .84rem;
    font-weight: 500;
}

/* CheckBox Group Input */
.checkbox-group input {
    width: 17px;
    height: 17px;
    accent-color: var(--green-color);
    cursor: pointer;
}

/* Forget Password */
.forgot-password {
    color: var(--green-color);
    text-decoration: none;
    font-size: .84rem;
    font-weight: 600;
    transition: var(--transition-fast);
}

/* Forget Password Hover */
.forgot-password:hover {
    color: var(--button-green-background);
    text-decoration: underline;
}

/* Login Button */
.login-btn {
    width: 100%;
    height: 56px;
    border: none;
    border-radius: 16px;
    background: var(--gradient-primary);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: .95rem;
    font-weight: 700;
    cursor: pointer;
    transition: var(--transition-fast);
    margin-top: 6px;
}

/* Login Button Hover */
.login-btn:hover {
    transform: translateY(-2px);
    box-shadow:
        0 18px 40px rgba(24, 194, 125, .28);
}

/* Login Button Icon */
.login-btn i {
    transition: var(--transition-fast);
}

/* Login Button Hover Icon */
.login-btn:hover i {
    transform: translateX(5px);
}

/* Divider */
.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 8px 0;
}

/* Divider Before */
.divider::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, .08);
}

/* Divider Span */
.divider span {
    position: relative;
    z-index: 2;
    padding: 0 16px;
    background: var(--color-panel);
    color: var(--text-third);
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: 1px;
}

/* Google Button */
.google-btn {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, .08);
    background: rgba(255, 255, 255, .02);
    color: var(--color-white);
    font-size: .92rem;
    font-weight: 600;
    cursor: pointer;
    transition: var(--transition-fast);
}

/* Google Button Image */
.google-btn img {
    width: 20px;
    height: 20px;
}
/* Google Button Hover */
.google-btn:hover {
    border-color: rgba(24, 194, 125, .35);
    background: rgba(24, 194, 125, .05);
    transform: translateY(-2px);
}

/* Bottom Text */
.bottom-text {
    text-align: center;
    color: var(--text-third);
    font-size: .9rem;
}

/* Bottom Text Link */
.bottom-text a {
    color: var(--green-color);
    text-decoration: none;
    font-weight: 700;
    transition: var(--transition-fast);
}

/* Bottom Text Link Hover */
.bottom-text a:hover {
    color: var(--button-green-background);
    text-decoration: underline;
}

/* Animation */
.login-left,
.login-right {
    animation: fadeUp .8s ease both;
}

/* Login Right */
.login-right {
    animation-delay: .15s;
}

/* Animation */
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(35px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Section */
::selection {
    background: rgba(24, 194, 125, .30);
    color: var(--color-white);
}

/* Animation Float  Image */
@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-12px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Large Laptop */
@media (max-width:1400px) {

    .login-container {
        grid-template-columns: 1fr 500px;
        gap: 60px;
    }

    .left-content h1 {
        font-size: 3.4rem;
    }

    .hero-description {
        font-size: 1rem;
        margin-bottom: 45px;
    }

    .hero-illustration img {
        max-width: 500px;
    }

    .login-right {
        max-width: 500px;
        padding: 36px;
    }

}

/* Laptop */
@media (max-width:1200px) {

    .login-section {
        padding: 40px 18px 60px;
    }

    .login-container {
        grid-template-columns: 1fr 460px;
        gap: 40px;
    }

    .left-content h1 {
        font-size: 2.9rem;
    }

    .hero-description {
        font-size: .95rem;
        margin-bottom: 36px;
    }

    .hero-illustration img {
        max-width: 430px;
    }

    .feature-item {
        padding: 16px;
    }

    .feature-icon {
        width: 46px;
        height: 46px;
        font-size: 1rem;
    }

    .feature-text h3 {
        font-size: .95rem;
    }

    .feature-text p {
        font-size: .82rem;
    }

    .login-right {
        max-width: 460px;
        padding: 30px;
    }

    .login-form-container h2 {
        font-size: 2rem;
    }
}

/* Tablet */
@media (max-width:992px) {

    .login-container {
        grid-template-columns: 38% 62%;
        gap: 24px;
        align-items: center;
    }

    .login-left {
        min-height: auto;
    }

    .hero-badge {
        font-size: 2.2rem;
        font-weight: 1000;

    }

    .left-content h1 {
        font-size: 1.9rem;
        margin-bottom: 16px;
    }

    .hero-description {
        font-size: .82rem;
        line-height: 1.7;
        margin-bottom: 24px;
    }

    .hero-illustration {
        margin-bottom: 22px;
    }

    .hero-illustration img {
        max-width: 250px;
    }

    .feature-list {
        gap: 12px;
    }

    .feature-item {
        padding: 12px;
        gap: 12px;
    }

    .feature-icon {
        width: 40px;
        height: 40px;
        border-radius: 12px;
        font-size: .9rem;
    }

    .feature-text h3 {
        font-size: .82rem;
    }

    .feature-text p {
        font-size: .72rem;
    }

    .login-right {
        max-width: 100%;
        padding: 24px;
        border-radius: 24px;
    }

    .login-form-container h2 {
        font-size: 1.8rem;
    }

    .login-form-container>p {
        font-size: .82rem;
    }

    .input-group label {
        font-size: .82rem;
    }

    .input-box {
        height: 48px;
    }

    .input-box input {
        font-size: .84rem;
    }

    .login-btn,
    .google-btn {
        height: 48px;
        font-size: .86rem;
    }

    .checkbox-group {
        font-size: .76rem;
    }

    .forgot-password {
        font-size: .76rem;
    }
}

/* Small Laptop */
@media (max-width:768px) {
    .login-section {
        padding: 28px 16px 50px;
    }

    .login-container {
        grid-template-columns: 1fr;
        gap: 34px;
    }

    .login-left {
        min-height: auto;
        text-align: center;
    }

    .hero-badge {
        margin-inline: auto auto;
    }

    .left-content{
        max-width: 100%;
    }

    .left-content h1 {
        font-size: 2.3rem;
    }

    .hero-description {
        max-width: 100%;
    }

    .hero-illustration img {
        max-width: 260px;
    }

    .feature-list {
        display: none;
    }

    .login-right {
        max-width: 100%;
        padding: 22px;
    }

    .login-options {
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;
    }
}

/* Mobile */
@media (max-width:480px) {
    .login-section {
        padding: 18px 12px 40px;
    }

    .hero-badge {
        padding: 8px 14px;
    }

    .left-content h1 {
        font-size: 2rem;
    }

    .hero-description {
        font-size: .82rem;
    }

    .hero-illustration img {
        max-width: 220px;
    }

    .login-right {
        padding: 18px;
        border-radius: 20px;
    }

    .login-form-container h2 {
        font-size: 1.6rem;
    }

    .input-box {
        height: 46px;
        padding: 0 14px;
    }

    .login-btn,
    .google-btn {
        height: 46px;
        font-size: .84rem;
    }

    .bottom-text{
        font-size: .82rem;
    }
}

/* Login Right */
.login-right {
    transition:
        transform .35s ease,
        box-shadow .35s ease,
        border-color .35s ease;

}

/* Login Right Hover */
.login-right:hover {
    transform: translateY(-4px);
    box-shadow: 0 35px 80px rgba(0, 0, 0, .45);
}

/* Input Effects */
.input-box {
    overflow: hidden;
}

.input-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: -120%;
    width: 60%;
    height: 100%;
    background: linear-gradient(90deg,
            transparent,
            rgba(255, 255, 255, .08),
            transparent);
    transition: .8s;
}

.input-box:hover::before {
    left: 140%;
}

/* Login Button */
.login-btn {
    position: relative;
    overflow: hidden;
}

.login-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -140%;
    width: 60%;
    height: 100%;
    background: linear-gradient(90deg,
            transparent,
            rgba(255, 255, 255, .28),
            transparent);
}

.login-btn:hover::before {
    left: 170%;
    transition: .8s;
}

/* Gogle Icon */
.google-btn img {
    transition: .3s ease;
}

.google-btn:hover img {
    transform: rotate(12deg) scale(1.08);
}

/* Feature Icon Hover */
.feature-item:hover .feature-icon {
    transform: rotate(8deg) scale(1.08);
    background: var(--green-color);
    color: var(--color-white);
}

/* Image Effect */
.hero-illustration {
    overflow: hidden;
}

.hero-illustration img {
    transition: transform .5s ease;
}

.hero-illustration:hover img {
    transform: scale(1.03);
}

/* Focus Outline */
button:focus-visible,
input:focus-visible,
a:focus-visible {
    outline: 2px solid var(--green-color);
    outline-offset: 3px;
}

/* PlaceHolder */
::placeholder {
    color: #7d8590;
    opacity: 1;
}

/* Text Selection */
::selection {
    background: rgba(24, 194, 125, .35);
    color: #ffffff;
}

/* Image */
img {
    max-width: 100%;
    display: block;
}

/* Highlight */
button,
a,
input {
    -webkit-tap-highlight-color: transparent;
}

/* Performance */
* {
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: #ffffff !important;
    transition: background-color 5000s ease-in-out;
}

/* Reduce Motion */
@media (prefers-reduced-motion:reduce) {
    * {
        animation: none !important;
        transition: none !important;
        scroll-behavior: auto !important;
    }
}