/* Body */
* {
    padding: 0%;
    margin: 0%;
}

/* Root */
:root {

    /* Base Colors */
    --black-color: #000000;
    --bgcolor: #131313;
    --white-color: #ffffff;
    --greycolor: #c2c2c2;

    /* Brand Colors */
    --green-color: rgb(24, 194, 125);
    --green-dark: #0b7a43;
    --green-light: #33d46c;
    --green-bright: #16c56b;

    --cyan-color: #10c8c5;
    --cyan-light: #26cfa1;
    --cyan-dark: #0b6f8c;

    --blue-color: #00b7ff;
    --blue-dark: #1d4ed8;
    --blue-light: #64b7fb;

    --nav-color: rgba(10, 10, 10, 0.7);

    --border-rgb: 68 71 72;
    --border-color: rgba(255,255,255,.1);
    --border-light: rgba(255,255,255,.08);
    --border-lighter: rgba(255,255,255,.06);
    --border-grey: rgba(194,194,194,.3);

    --green-border-color: rgba(255,255,255,.2);
    --blue-border-color: rgba(0,183,255,.2);

    --text-light: #d5d5d5;
    --text-muted: #bfbfbf;
    --text-grey: #8f8f8f;
    --text-grey-2: #8d8d8d;
    --text-grey-3: #8c8c8c;
    --text-grey-4: #8b8b8b;
    --text-grey-5: #7f7f7f;
    --text-grey-6: #7d7d7d;
    --text-grey-7: #7a7a7a;
    --text-arrow: #aaaaaa;

    --bg-dark: #202020;
    --glass-bg: rgba(255,255,255,.03);
    --glass-border: rgba(255,255,255,.08);

    --hover-green: #00ff99;

    --gradient-primary: linear-gradient(90deg,var(--green-light) 0%,var(--cyan-light) 50%,#1abac3 100%);
    --gradient-line: linear-gradient(90deg,var(--green-light) 0%,var(--cyan-color) 50%,var(--blue-color) 100%);
    --gradient-heading: linear-gradient(90deg,var(--green-dark) 0%,var(--green-dark) 25%,var(--cyan-dark) 50%,var(--blue-dark) 75%,var(--green-dark) 100%);

    font-family: 'Inter', sans-serif;
}


/* Body */
body {
    background-color: var(--black-color);
    overflow-x: hidden;
    color: var(--greycolor);
}

/* Horizontal Line */
hr {
    color: var(--greycolor);
}

/* Header Section */
header {
    background-color: var(--nav-color);
    border-bottom: 1px solid rgba(194, 194, 194, 0.3);
    padding: 15px 30px;
    background: rgba(var(--bgcolor), 0.1);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Nav Block */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Nav Left - Logo */
#nav-left {
    font-size: 22px;
    font-weight: 900;
    color: var(--white-color);
}

/* Nav List Block */
#nav-list {
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 14px;
}

/* Nav Links */
#nav-list a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: var(--greycolor);
    transition: color 0.3s ease;
}

/* Nav Links Hover */
#nav-list a:hover {
    color: var(--white-color);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

/* Nav Links UnderLine Effect */
#nav-list a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background-color: var(--white-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
}

/* Nav List Links After Click */
#nav-list a:hover::after {
    transform: scaleX(1);
}

/* Nav Link Login Signup Block */

/* Nav Right */
#nav-right {
    display: flex;
    gap: 20px;
}

/* Nav Login Button */
.nav-login {
    padding: 8px 25px;
    background-color: var(--nav-color);
    border: 0.5px solid var(--white-color);
    color: var(--white-color);
    font-size: 13px;
    border-color: rgb(var(--border-rgb) / 1);
    border-radius: 12px;
    transition: background-color 0.2s ease, border-color 0.2s ease, transform 0.2s ease;
}

/* Nav Login Button Hover */
.nav-login:hover {
    background-color: var(--bgcolor);
    cursor: pointer;
}

/* Nav Sign Up Button */
.nav-signup {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
    background-color: var(--green-color);
    color: var(--white-color);
}

/* Nav Sign Up Button Hover */
.nav-signup:hover {
    transform: scale(1.05);
    cursor: pointer;
}


/* Hero Section Box */
#hero-section-box {
    display: flex;
    margin: 100px 30px;
    justify-content: space-between;
}

/* Hero Left Box */
#hero-left {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Hero Section PREMIUM FINTECH SOLUTIONS Box*/
.detail-bar-box {
    border: 1px solid rgb(24 194 125 / 40%);
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 5px 15px 5px 10px;
    width: fit-content;
    color: var(--green-color);
    justify-self: center;
}

/* Hero Section Box1 Image */
.detail-bar-box img {
    height: 20px;
    padding-right: 7px;
}

/* Hero Section Box1 Line */
.detail-bar {
    font-size: 13px;
    font-weight: 600;
    word-spacing: 5px;
}

/* Hero Section Lines */
.hero-section-main-lines {
    font-size: 65px;
    font-weight: 700;
    color: var(--white-color);
}

/* Hero Section Main Line 2 Animated */
.hero-section-main-line2 {
    background: linear-gradient(90deg,
            #0b7a43 0%,
            #0b7a43 25%,
            #0b6f8c 50%,
            #1d4ed8 75%,
            #0b7a43 100%);

    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: gradient-flow 4s linear infinite;
}

@keyframes gradient-flow {
    from {
        background-position: 0% center;
    }
    to {
        background-position: -200% center;
    }
}

/* Hero Section Description */
.hero-section-description {
    line-height: 1.6;
    word-spacing: 3px;
}

/* Hero Section Buttons Box*/
.hero-section-buttons {
    display: flex;
    gap: 20px;
}

/* Hero Section Button */
.hero-section-button button {
    padding: 15px 25px;
    color: var(--white-color);
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}

/* Hero Section Get Started Button */
.get-started button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg,
            #33d46c 0%,
            #26cfa1 50%,
            #1abac3 100%);
    border: none;
}

/* Hero Section Learn More Button */
.learn-more button {
    background-color: var(--black-color);
    border: 1px solid rgb(var(--border-rgb) / 1);
}

/* Hero Section Rating Box */
.hero-section-rating {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Hero Section Rating Image Box */
#hero-section-rating-image {
    width: fit-content
}

/* Hero Section Image Image */
#hero-section-rating-image img {
    height: 60px;
}

/* Hero Section Rating Box */
#hero-section-rating-box {
    display: flex;
    flex-direction: column;
    width: fit-content;
    line-height: 1.3;
}

/* Hero Section Stars Image */
#hero-section-rating-stars img {
    height: 14px;
    justify-self: start;
}

/* Hero Section Rating */
#hero-rating {
    font-size: 13px;
}

/* Hero Section DashBoard */
#dashboard-main-image {
    width: 800px;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    border: 1px solid rgb(var(--border-rgb) / 1);
}

/* Hero Section Right Side */
#hero-right {
    position: relative;
    width: fit-content;
}

/* Hero Section Right Upper Floating Box */
#hero-right-upper {
    position: absolute;
    top: -70px;
    right: 50px;
    z-index: 10;
    animation: float 6s ease-in-out infinite;
}

/* Hero Section Floating Animation*/
@keyframes float {
    0%,
    100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
}

/* Hero Section Right Lower Floating Box */
#hero-right-lower {
    position: absolute;
    bottom: -80px;
    left: -60px;
    z-index: 10;
    animation: float 7s ease-in-out infinite;
}

/* Hero Section Right Float Box */
.hero-right-float-box {
    width: 250px;
    height: 140px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: rgba(8, 8, 8, 0.15);
    backdrop-filter: blur(20px);
    border-radius: 30px;
    border: 1px solid rgba(24, 194, 125, 0.12);
    box-shadow:
        0 20px 50px rgba(0, 0, 0, 0.85),
        0 8px 20px rgba(0, 0, 0, 0.5),
        0 0 2px rgba(24, 194, 125, 0.4),
        0 0 20px rgba(24, 194, 125, 0.05),
        inset 0 1px 0 rgba(255, 255, 255, 0.03);
}

/* Hero Section Right Floating Box Image */
.hero-right-float-box img {
    height: 40px;
    color: var(--white-color);
}

/* Hero Section Right Upper Floating Box Paid Box*/
.paid-box {
    color: var(--green-color);
    font-size: 10px;
    border: 1px solid var(--green-color);
    padding: 6px 7px;
    border-radius: 10px;
    font-weight: 700;
}

/* Hero Section Right Upper Floating Box Box 1 */
.hero-right-upper-box1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Hero Section Right Upper Floating Box Box 2 */
.hero-right-upper-box2-description {
    color: var(--greycolor);
    margin-bottom: 10px;
    font-size: 13px;
}

/* Hero Section Right Upper Floating Box Money */
.hero-right-upper-box2-money {
    color: var(--white-color);
    font-size: 16px;
}

/* Hero section Right Upper Floating Box Image */
#hero-right-upper-people img {
    height: 40px;
}

/* Hero Section Right Lower Progress Bar */
.progress-bar {
    width: 250px;
    height: 10px;
    background: #202020;
    border-radius: 999px;
    overflow: hidden;
    margin-top: 10px;
}

/* Hero Section Right Lower Progress Bar Update */
.progress-fill {
    width: 80%;
    height: 100%;
    background: linear-gradient(90deg, #16c56b, #64b7fb);
    border-radius: inherit;
    transition: width .5s ease;
}

/* Hero Section Lower Shadow */
.hero-right-shadow {
    position: absolute;
    width: 400px;
    height: 400px;
    bottom: -200px;
    right: 20px;
    border-radius: 50%;
    background:
        radial-gradient(circle,
            rgba(160, 255, 210, .40) 0%,
            rgba(90, 255, 180, .25) 30%,
            rgba(24, 194, 125, .15) 60%,
            rgba(24, 194, 125, .07) 80%,
            transparent 100%);
    filter: blur(120px);
    opacity: 1;
    z-index: -1;
}

/* Blue Shadow */
.hero-right-blue-shadow {
    position: absolute;
    width: 400px;
    height: 400px;
    bottom: -200px;
    right: 20px;
    border-radius: 50%;
    background:
        radial-gradient(circle,
            rgba(170, 220, 255, .40) 0%,
            rgba(100, 180, 255, .25) 30%,
            rgba(59, 130, 246, .15) 60%,
            rgba(59, 130, 246, .07) 80%,
            transparent 100%);
    filter: blur(120px);
    opacity: 1;
    z-index: -1;
}

/* User Detail Bar Box */
#users-detail-bar {
    border-top: 1px solid rgb(var(--border-rgb) / 1);
    border-bottom: 1px solid rgb(var(--border-rgb) / 1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 175px;
    margin: 200px 0px 0px;
}

/* User Detail Inner Box */
#user-detail-box {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* User Detail Box Numbers */
.user-detail-box-number {
    font-size: 55px;
}

/* User Detail Box Description */
.user-detail-box-description {
    text-align: center;
}

/* Why Section */
#why-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

/* Why Section Upper Green Shadow */
.why-green-shadow-upper {
    left: -50px;
    top: 150px
}

/* Why Section Lower Green Lower  */
.why-green-shadow-lower {
    bottom: 0px;
}

/* Why Section Blue Middle Shadow */
.why-blue-shadow-middle {
    bottom: 50px;
    left: 39%;
}

/* Why Section Inner Box */
#why-section-inner {
    margin: 60px 0px 30px 0px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Why Section Box Inner */
.boxes-outer {
    width: 70%;
}

/* Why Section Box */
.why-section-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    line-height: 1.3;
}

/* Why Section Head Box */
.why-section-head {
    text-align: center;
}

/* Why Section Lines */
.why-section-line {
    font-size: 60px;
    margin-top: -20px;
}

/* Why Section Line2 Box */
.why-section-line2 {
    justify-self: center;
    width: 70%;
}

/* Why section Colorful Circle */
.colorful-cirlce {
    width: 150px;
    height: 3px;
    border-radius: 100%;
    background: linear-gradient(90deg,
            #33d46c 0%,
            #10c8c5 50%,
            #00b7ff 100%);
}

/* Why Section Lower Box */
#why-section-lower {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
}

/* Why Section Lower Inner Box */
.why-section-boxes {
    padding: 20px 30px;
    border-radius: 40px;
    animation: shadowGlow 4s ease-in-out infinite;
    line-height: 1.5;
    z-index: 1;
    backdrop-filter: blur(80%);
}

/* Why Section Lower Boxes Animated Shadow */
@keyframes shadowGlow {
    0% {
        box-shadow:
            0 15px 35px rgba(0, 0, 0, .8),
            0 0 5px rgba(24, 194, 125, .5),
            0 0 20px rgba(24, 194, 125, .3);
    }

    25% {
        box-shadow:
            0 15px 35px rgba(0, 0, 0, .8),
            0 0 5px rgba(12, 190, 180, .5),
            0 0 20px rgba(12, 190, 180, .3);
    }

    50% {
        box-shadow:
            0 15px 35px rgba(0, 0, 0, .8),
            0 0 5px rgba(0, 183, 255, .5),
            0 0 20px rgba(0, 183, 255, .3);
    }

    75% {
        box-shadow:
            0 15px 35px rgba(0, 0, 0, .8),
            0 0 5px rgba(12, 190, 180, .5),
            0 0 20px rgba(12, 190, 180, .3);
    }

    100% {
        box-shadow:
            0 15px 35px rgba(0, 0, 0, .8),
            0 0 5px rgba(24, 194, 125, .5),
            0 0 20px rgba(24, 194, 125, .3);
    }
}

/* Why Section All Boxes */
.why-section-boxes>div {
    margin-top: 10px;
}

/* Why Section Box Image Box */
.why-section-box-image {
    height: 50px;
    width: 50px;
    border: 1px solid rgb(var(--border-rgb) / 1);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

/* Why Section Image */
.why-section-box-image img {
    height: 25px;
}

/* Why Section Box Title */
.why-section-box-title {
    font-size: 22px;
    font-weight: 900;
}

/* Why Section Box Description */
.why-section-box-description {
    font-size: 14px;
}

/* How It Works Box */
.how-it-works {
    margin-top: 30px;
    margin-bottom: 0px;
}

/* How It Works Lower */
.how-it-works-lower {
    width: 90%;
    justify-self: center;
    align-items: flex-start;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    position: relative;
}

/* How It Works Inner Box */
.how-it-work-box {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(100%);
    padding: 20px;
    position: relative;
}

/* How It Work Inner Box Line */
.work-boxes-line {
    position: absolute;
    height: 29px;
    border: 1px dashed var(--blue-color);
    top: 61px;
}

/* How It Work Box Cyan Border */
.work-boxes-line-cyan {
    border: 1px dashed cyan;
}

/* How It Works Box Green Border */
.work-boxes-line-green {
    border: 1px dashed var(--green-color);
}

/* How It Works Inner Box Number */
.how-it-work-box-number {
    font-size: 20px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1000;
}

/* How It Works Green Box */
.how-box-green {
    border: 1px solid var(--green-color);
}

/* How It Works Cyan Box */
.how-box-cyan {
    border: 1px solid cyan;
}

/* How It Works Blue Box */
.how-box-blue {
    border: 1px solid var(--blue-color);
}

/* How It Works Inner Box Icon */
.how-it-work-box-icon {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 30px;
    animation: shadowGlow 4s ease-in-out infinite;
}

/* How It Works Inner Box Icon Image */
.how-it-work-box-icon img {
    height: 30px;
}

/* How It Works Inner Box Head */
.how-it-work-box-head {
    font-size: 14px;
    font-weight: 700;
}

/* How It Works Inner Box Description */
.how-it-work-box-description {
    text-align: center;
    font-size: 13px;
    margin-top: 10px;
}

/* How It Works Blue Shadow Box */
.how-shadow-blue {
    position: absolute;
    top: -100px;
    left: -100px;
}

/* How It Works Green Shadow Box */
.how-shadow-green {
    right: -150px;
    bottom: -130px;
}

/* How It Works Green Box Border */
.how-border-green {
    border: 1px solid var(--green-color);
}

/* How It Works Lower Box */
.lower-box {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 30px 0px;
    border: 1px solid var(--blue-border-color);
    border-radius: 10px;
    width: 60%;
    padding: 10px 0px;
}

/* How It Works Lower Box Image */
.lower-box-star img {
    height: 30px;
}

/* Testimonials Box */
.Testimonials {
    margin: 70px 0;
    width: 80%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

/* Testimonials Detail Box  */
.testomonial-detail-box span {
    font-size: 16px;
}

/* Testimonials Detail Box Image */
.testomonial-detail-box img {
    height: 25px;
}

/* Testimonials Main Line */
.testimonials-main-line {
    margin: 20px;
    font-size: 40px;
    font-weight: 1000;
}

/* Testimonials Container */
.testimonials-container {
    display: flex;
    gap: 50px;
    width: max-content;
    transition: transform .8s cubic-bezier(.22, .61, .36, 1);
    will-change: transform;
}

/* Testimonials Blue Box Shadow */
.testimonials-shadow-blue-box{
    position: absolute;
    top: 500px;
    left: 1000px;
}

/* Testimonials Inner Box */
.testimonials-box {
    flex: 0 0 450px;
    padding: 32px;
    border-radius: 24px;
    background: rgba(255, 255, 255, .03);
    border: 1px solid rgba(255, 255, 255, .08);
    backdrop-filter: blur(80%);
    -webkit-backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    gap: 30px;
    transition: .3s ease;
    flex: 0 0 calc((100vw - 100px)/3);
    max-width: 500px;
    min-width: 350px
}

/* Testimonials Inner Box Hover Effect */
.testimonials-box:hover {
    transform: translateY(-8px);
    border-color: rgba(0, 255, 153, .2);
    box-shadow:
        0 0 20px rgba(0, 255, 153, .08),
        0 0 50px rgba(0, 255, 153, .04);
}

/* Testimonials Inner Box Comma Image */
.comma img {
    width: 40px;
    opacity: .8;
}

/* Testimonials Inner Box Line */
.testimonials-box-line {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Testimonials Inner Box Span */
.testimonials-box-line span {
    color: #d5d5d5;
    font-size: .95rem;
    line-height: 1.8;
}

/* Testimonials Inner Box Lower Line */
.testimonials-box-line-lower {
    color: white !important;
    font-weight: 500;
}

/* Testimonials Inner Box Star Image */
.testimonials-box-people {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

/* Testimonials Inner Box People Image Box */
.testimonials-box-people-left {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
}

/* Testimonials Inner Box People Image */
.testimonials-box-people-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Testimonials Inner Box People Detail Box */
.testimonials-box-people-middle {
    flex: 1;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

/* Testimonials Inner Box People Name */
.testimonials-people-name {
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

/* Testimonials Inner Box People Position */
.testimonials-people-position {
    color: #8f8f8f;
    font-size: .9rem;
}

/* Testimonials Inner Box People Rating */
.testimonials-box-people-right img {
    width: 90px;
}

/* Testimonials Inner Box Control Box */
.controls {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 40px 0px 0px 0px;
}

/* Testimonials Box Control Box Button */
.controls button {
    width: 55px;
    height: 55px;
    border: 1px solid rgba(255, 255, 255, .08);
    border-radius: 50%;
    background: rgba(255, 255, 255, .03);
    backdrop-filter: blur(20px);
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: .3s;
}

/* Testimonials Box Control Box Button Hover Effect */
.controls button:hover {
    background: #00ff99;
    color: #000;
    border-color: #00ff99;
    box-shadow:
        0 0 10px rgba(0, 255, 153, .4),
        0 0 30px rgba(0, 255, 153, .15);
}

/* FAQ Container */
.faq-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* FAQ Conatiner Box */
.faq-container-box {
    width: 80%;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* FAQ Box */
.faq-box {
    background: rgba(255, 255, 255, .03);
    border: 1px solid rgba(255, 255, 255, .08);
    border-radius: 28px;
    overflow: hidden;
    transition: .3s;
}

/* FAQ Box Active Effect */
.faq-box.active {
    border-color: rgba(24, 194, 125, .25);
    box-shadow:
        0 0 20px rgba(24, 194, 125, .08),
        0 0 40px rgba(24, 194, 125, .04);
}

/* FAQ Box Question */
.faq-question {
    width: 100%;
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

/* FAQ Box Question Left */
.faq-left {
    display: flex;
    align-items: center;
    gap: 25px;
}

/* FAQ Question Icon */
.faq-icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(24, 194, 125);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 500;
}

/* FAQ Question Title */
.faq-title {
    color: white;
    font-size: 14px;
    font-weight: 600;
}

/* FAQ Question Arrow */
.faq-arrow {
    color: #aaa;
    font-size: 14px;
    transition: .3s;
}

/* FAQ Question Box Arrow Active */
.faq-box.active .faq-arrow {
    transform: rotate(180deg);
}

/* FAQ Question Arrow Image */
.faq-arrow img {
    height: 35px;
}

/* FAQ Answer Box */
.faq-answer {
    max-height: 0;
    overflow: hidden;
    color: #bfbfbf;
    line-height: 1.9;
    font-size: 14px;
    padding: 0 110px;
    transition: max-height .4s ease, padding .4s ease;
}

/* FAQ Answer Box Active */
.faq-box.active .faq-answer {
    max-height: 200px;
    padding: 0 110px 35px;
}

/* FAQ Box Media */
@media(max-width:768px) {
    .faq-section {
        width: 90%;
    }
    .faq-question {
        padding: 25px;
    }
    .faq-title {
        font-size: 18px;
    }
    .faq-answer {
        padding: 0 25px;
    }
    .faq-box.active .faq-answer {
        padding: 0 25px 25px;
    }
}

/* Contact Box */
#contact {
    padding: 140px 0;
}

/* Container Inner Box */
.section-container {
    width: min(90%, 1400px);
    margin: 0 auto;
}

/* Container Section Label */
.section-label {
    color: rgb(24, 194, 125);
    font-size: .9rem;
    font-weight: 600;
    letter-spacing: 4px;
    margin-bottom: 60px;
}

/* Contact Grid Box */
.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 120px;
}

/* Contact Heading */
.contact-heading {
    color: white;
    font-size: 4rem;
    line-height: 1.1;
    margin-bottom: 30px;
}

/* Contact Heading Em */
.contact-heading em {
    font-style: normal;
    color: rgb(24, 194, 125);
}

/* Contact Box Line */
.contact-sub {
    color: #8c8c8c;
    line-height: 1.8;
    font-size: 1.05rem;
    margin-bottom: 50px;
}

/* Contact Box Email Box */
.email-direct {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 50px;
    transition: .3s;
}

/* Contact Box Email Hover Effect */
.email-direct:hover {
    color: rgb(24, 194, 125);
}

/* Contact Box Email Svg Image */
.email-direct svg {
    width: 20px;
    height: 20px;
}

/* Contact Box Social */
.contact-socials {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

/* Contact Box Social Links */
.contact-socials a {
    color: #8f8f8f;
    text-decoration: none;
    font-size: .95rem;
    letter-spacing: 1px;
    transition: .3s;
}

/* Contact Box Social Box Hover Effect */
.contact-socials a:hover {
    color: rgb(24, 194, 125);
}

/* Contact Form */
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

/* Contact Form Field */
.form-field {
    position: relative;
}

/* Form Field Input and TextArea */
.form-field input,
.form-field textarea {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 1rem;
    padding: 20px 0;
}

/* Form Field Lable */
.form-field label {
    position: absolute;
    left: 0;
    top: 20px;
    color: #7d7d7d;
    pointer-events: none;
    transition: .3s;
}

/* Form Field Active */
.form-field input:focus+label,
.form-field input:not(:placeholder-shown)+label,
.form-field textarea:focus+label,
.form-field textarea:not(:placeholder-shown)+label {
    top: -10px;
    font-size: .85rem;
    color: rgb(24, 194, 125);
}

/* Form Field Box */
.field-line {
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, .08);
    position: relative;
}

/* Form Fiels Box UnderLine */
.field-line::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: rgb(24, 194, 125);
    transition: .4s;
}

/* Form Field Box UnderLine Active */
.form-field input:focus~.field-line::after,
.form-field textarea:focus~.field-line::after {
    width: 100%;
}

/* Form Submit Button */
.btn-send {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 18px 32px;
    border: none;
    border-radius: 100px;
    background: rgb(24, 194, 125);
    color: black;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}

/* Form Submit Button Hover Effect */
.btn-send:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 40px rgba(24, 194, 125, .3);
}

/* Form Submit Button Icon */
.btn-icon {
    font-size: 1.2rem;
}

/* Form Submit Button Status */
.form-status {
    color: rgb(24, 194, 125);
}

/* Form Media */
@media(max-width:1000px) {
    .contact-grid {
        grid-template-columns: 1fr;
        gap: 80px;
    }
    .contact-heading {
        font-size: 3rem;
    }
}

@media(max-width:768px) {
    .contact-heading {
        font-size: 2.4rem;
    }
    .contact-socials {
        gap: 20px;
    }
}

/* Get Started Section */
.cta-section{
    margin-bottom: 100px;
}

/* Get Strated Card */
.cta-card{
    width: min(90%, 950px);
    margin: 0px auto;
    text-align: center;
}

/* Get Started Badge */
.cta-badge{
    display: inline-block;
    color: rgb(24,194,125);
    font-size: .85rem;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

/* Get Started Heading */
.cta-heading{
    color: white;
    font-size: clamp(2.8rem,5vw,4.2rem);
    line-height: 1.1;
    margin-bottom: 20px;
}

/* Get Started Sub Heading */
.cta-subheading{
    max-width: 650px;
    margin: 0 auto;
    color: #8b8b8b;
    font-size: 1rem;
    line-height: 1.8;
}

/* Get Started Buttons */
.cta-buttons{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
}

/* Get Started Primary Button */
.cta-primary-btn{
    padding: 16px 28px;
    border-radius: 14px;
    background: rgb(24,194,125);
    color: #000;
    text-decoration: none;
    font-size: .95rem;
    font-weight: 600;
    transition: .3s;
}

/* Get Started Primary Button Hover */
.cta-primary-btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 30px rgba(24,194,125,.25);
}

/* Get Started Secondary Button */
.cta-secondary-btn{
    padding: 16px 24px;
    border-radius: 14px;
    border: 1px solid rgba(255,255,255,.08);
    color: #cfcfcf;
    text-decoration: none;
    transition: .3s;
}

/* Get Started Secondary Button Hover */
.cta-secondary-btn:hover{
    border-color: rgba(24,194,125,.2);
    color: white;
}

/* Get Started Text Box */
.cta-text{
    margin-top: 20px;
    color: #7f7f7f;
    font-size: .95rem;
}

/* Get Started Inner Box */
.cta-trust{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

/* Get Started Pill */
.trust-pill{
    color: #bdbdbd;
    font-size: .9rem;
    position: relative;
}

/* Get Started Pill Before */
.trust-pill::before{
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: rgb(24,194,125);
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 2px;
}

/* Get Started Media */
@media(max-width:768px){
    .cta-heading{
        font-size: 2.5rem;
    }
    .cta-buttons{
        flex-direction: column;
    }
    .cta-primary-btn,
    .cta-secondary-btn{
        width: 100%;
        justify-content: center;
    }
    .cta-trust{
        flex-direction: column;
        gap: 15px;
    }
}

/* Footer */
.footer{
    width: 100%;
    margin-top: 120px;
    padding: 80px 0 30px;
    border-top: 1px solid rgba(255,255,255,.08);
}

/* Footer Inner Box */
.footer-top{
    width: min(90%, 1400px);
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    padding-bottom: 60px;
}

/* Footer Brand Box */
.footer-brand{
    max-width: 380px;
}

/* Footer Brand Heading */
.footer-brand h2{
    color: white;
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Footer Brand Paragraph */
.footer-brand p{
    color: #8d8d8d;
    line-height: 1.9;
    font-size: .95rem;
}

/* Footer Links */
.footer-links{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
}

/* Footer Inner Column */
.footer-column{
    display: flex;
    flex-direction: column;
}

/* Footer Inner Column Heading */
.footer-column h4{
    color: white;
    font-size: 1rem;
    margin-bottom: 20px;
}

/* Footer Column Link */
.footer-column a{
    color: #8d8d8d;
    text-decoration: none;
    margin-bottom: 14px;
    transition: .3s;
}

/* Footer Column Link Hover */
.footer-column a:hover{
    color: rgb(24,194,125);
}

/* Footer Column Bottom */
.footer-bottom{
    width: min(90%, 1400px);
    margin: auto;
    padding-top: 30px;
    border-top: 1px solid rgba(255,255,255,.06);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Footer Bottom Paragraph */
.footer-bottom p{
    color: #7a7a7a;
    font-size: .9rem;
}

/* Footer Media */
@media(max-width:1000px){
    .footer-top{
        flex-direction: column;
        gap: 60px;
    }
    .footer-links{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width:768px){
    .footer-links{
        grid-template-columns: 1fr;
    }
    .footer-bottom{
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }
}